{% extends "template.html" %}

{% block body %}
<div class="contenu card_effect">
    <iframe width="672" height="378" src="https://www.youtube.com/embed/LtqnAn6kDY8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="672" height="378" src="https://www.youtube.com/embed/ADROqQtVN64" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="672" height="378" src="https://www.youtube.com/embed/FhYe9uc_5YI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="672" height="378" src="https://www.youtube.com/embed/L3-c0EPLef4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="672" height="378" src="https://www.youtube.com/embed/l_Mbo6Zm8Ok" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="672" height="378" src="https://www.youtube.com/embed/ZB7BKe5Ce1s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endblock %}