{% extends "template.html" %}

{% block body %}
<div class="contenu">
    <a class="buttons volume" >Désactiver le Volume</a>
    <h1><div id="chronotime" onload = "chronoStart()">00:00</div></h1>
    <div class="texte">
    <div class="result">

    </div>
    <div class="wordle_page">

    <div class="explication">
        <div class="card_effect">
            Bienvenue dans notre jeu TelecoMotus ! <br>
            Pour utiliser celui-ci, pas besoin de clic quelque part, tapez seulement sur votre clavier le mot désiré puis sur Entrée et le mot sera validé (ou non) par le jeu.
        </div>
    </div>
    
    <div class="div_wordle">   
    <table class="grille_table grille table_wordle">
        {% for i in range(nbessai) %}
    <tr>
        {% for j in range(taillemot) %}
        <td class="mauvaisecase"><b>.</b></td>
        {% endfor %}
    </tr>
        {% endfor %}

    </table>
    </div> 
    </div>
    <div class="answer">

    </div>
    <div class="error">

    </div>
    

    
    <script language="JavaScript">




        $( document ).ready(function() {
            var startTime = 0
            var start = 0
            var end = 0
            var diff = 0
            var timerID = 0
            tentative = [];
            let toucheencours = 0;
            motatrouve = {{motatrouve|tojson}};
            nbessai = {{ nbessai }};
            gameencours = true;
            volumer = true;
            chronoStart()
            $(this).keyup(function (event){
                if (gameencours){
                    if(event.keyCode == 13){
                        tenta = '';
                        for(i=tentative.length*motatrouve.length;i<toucheencours;i++){
                            let lettre = $("td").eq(i).text();
                            tenta = tenta  + lettre;

                        }
                        tenta = tenta.toLowerCase();
                        if(entree(tenta,{{ dico |safe }},motatrouve.length)){
                            let latentative=[];

                            for(j=0;j<tenta.length;j++){
                                validation(j,tenta,motatrouve,latentative);
                            }
                            validationfinale(tenta,motatrouve,latentative);
                            tentative.push(latentative);
                            let longeurtent = tentative.length;
                            let longeurmotrouv = motatrouve.length;
                            let indice = (longeurtent - 1)*longeurmotrouv;
                            coloration(tentative,motatrouve,0,indice);



                        }

                    }
                    else if(event.keyCode == 8){
                        if(toucheencours- tentative.length*motatrouve.length >0){
                            $("td").eq(toucheencours-1).text(String.fromCharCode(46));
                            toucheencours = toucheencours - 1;
                        }
                    }
                    else{
                        if (toucheencours- tentative.length*motatrouve.length <motatrouve.length){
                            $("td").eq(toucheencours).text(String.fromCharCode(event.keyCode));
                            toucheencours = toucheencours + 1;
                        }
                    }
                }

            });
            $(".volume").button({icons: {primary: "ui-icon-locked"}});
            $(".volume").mousedown(function(){
                if(volumer){
                    volumer = false;
                    $(this).text("Activer le volume");
                }
                else{
                    volumer = true;
                    $(this).text("Désactiver le volume");
                }
            })
        });

        function coloration(tentative,motatrouve,compteur,i){
            let longeurmotatrouve = motatrouve.length;

            let longeurtentative = tentative.length;
            let dernieretentative = tentative[longeurtentative-1];
            console.log(compteur);
            console.log(dernieretentative);
            let son = new Audio();
            if(dernieretentative[compteur][1]=="2"){
                son.src = "{{url_for('static', filename='Son/bien.mp3')}}";
                if (volumer){
                    son.play();
                }

                $("td").eq(i).removeClass("mauvaisecase");
                $("td").eq(i).addClass("bonnecase");
            }
            else if(dernieretentative[compteur][1]=="1"){
                son.src = "{{url_for('static', filename='Son/moyen.mp3')}}";
                if (volumer){
                    son.play();
                }

                $("td").eq(i).removeClass("mauvaisecase");
                $("td").eq(i).addClass("moyennecase");
            }
            else{
                son.src = "{{url_for('static', filename='Son/mauvais.mp3')}}";
                if(volumer){
                   son.play();
                }

            }



            if(i<longeurtentative*longeurmotatrouve -1){
                console.log("heho");
                setTimeout(coloration, 200,tentative,motatrouve,compteur+1,i+1);
            }
            else{
                findepartie();
            }

        }
function findepartie() {
    if (motvalid(tenta, motatrouve, tentative.length, nbessai) == "win") {
        chronoStop()
        tentative.push(motatrouve);
        tentative.push(tentative.length - 1);
        tentative.push("Victoire");
        tentative.push(end)
        $.ajax({
            type: "POST",
            url: "/save",
            contentType: "application/json",
            dataType: "JSON",
            data: JSON.stringify(tentative)
        })
        gameencours = false;
        son = new Audio();
        son.src = "{{url_for('static', filename='Son/victoire.mp3')}}";
        if (volumer) {
            son.play();
        }


        $(".answer").html("<h1></br> La partie est gagnée !</h1> <a class=\"buttons\" href = \"/wordle/{{taillemot}}/{{nbessai}}\">Rejouer</a> <a class=\"buttons\" href = \"/historique\">Historique</a>")
        $(".result").html("<h1>VICTOIRE !</h1>");
    } else if (motvalid(tenta, motatrouve, tentative.length, nbessai) == "loose") {
        chronoStop()
        tentative.push(motatrouve);
        tentative.push(tentative.length - 1);
        tentative.push("Défaite");
        tentative.push(end)
        $.ajax({
            type: "POST",
            url: "/save",
            contentType: "application/json",
            dataType: "JSON",
            data: JSON.stringify(tentative)
        })
        gameencours = false;
        son = new Audio();
        son.src = "{{url_for('static', filename='Son/motus-boule-noire.mp3')}}";
        if (volumer) {
            son.play();
        }

        $(".answer").html("<h1></br> La partie est <u>perdue</u>. Le mot à trouver était : <b><u>{{ motatrouve }}</u>.</b></h1> <a class=\"buttons\" href = \"/wordle/{{taillemot}}/{{nbessai}}\">Rejouer</a> <a class=\"buttons\" href = \"/historique\">Historique</a>");
        $(".result").html("<h1>DEFAITE !</h1>");


    }
}
        function chrono(){
	        end = new Date()
	        diff = end - start
	        diff = new Date(diff)
	        var sec = diff.getSeconds()
	        var min = diff.getMinutes()
	        if (min < 10){
	        	min = "0" + min
	        }
	        if (sec < 10){
	        	sec = "0" + sec
	        }
	        document.getElementById("chronotime").innerHTML = min + ":" + sec
	        timerID = setTimeout("chrono()", 10)
        }
        function chronoStart(){
	        start = new Date()
	        chrono()
        }
        function chronoContinue(){
	        start = new Date()-diff
	        start = new Date(start)
	        chrono()
        }
        function chronoReset(){
	        document.getElementById("chronotime").innerHTML = "00:00"
	        start = new Date()
        }
        function chronoStopReset(){
	       document.getElementById("chronotime").innerHTML = "00:00"
        }
        function chronoStop(){
	        clearTimeout(timerID)
            end = diff.getSeconds() + 60*diff.getMinutes()
        }

    </script>
</div>
</div>
{% endblock %}